{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login In{% endblock %}
<!--Content-->
{% block content %} 
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" 
                data-toggle="collapse" data-target="#navbarTogglerDemo03" 
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation"
            >
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('home_page') }}">ZENSPHERE</a>
        <!------------>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-auto">
                <li class="nav-item active text-center">
                    <a class="nav-link" href="">
                        Features 
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="">FAQ</a>
                </li>
        </ul>
        <!-------------------->
        <!--Buttons-->
        <form class="form-inline my-2 my-lg-0">
            <a href="{{url_for('signup')}}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign Up</button>
            </a>
            <a href="{{url_for('login')}}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button">Login</button>
            </a>
        </form>
        </div>
    </nav>  
    <!--Login Form-->
    <h2 class="h2">Login</h2>
   <div class="container">
        <form method="POST" class="form-group" action="">
            <!--Username-->
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.remember_session) }}
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Not a robot</label>
            </div>
            <a href="{{url_for('signup')}}">Don't have an account?</a>
            <button class="btn btn-lg btn-primary btn-block" type="type">Login</button>
        </form>
   </div>
{% endblock %}